@using Hamburger_MVC.Models.ViewModels;
@model SepetOnaylaVM
@{
	decimal toplamFiyat = 0;
}

<form asp-action="SiparisOlustur" asp-controller="Sepet" method="post">
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
							<div class="card single-accordion">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Teslimat Adresi
										</button>
									</h5>
								</div>

								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body">
										<div class="billing-address-form">

											@foreach (var adres in Model.Adresler)
											{
												<div class="form-check">
													<input class="form-check-input" type="radio" name="adresRadio" id="adres_@adres.ID" value="@adres.ID">
													<label class="form-check-label" for="adres_@adres.ID">
														<strong>@adres.Baslik</strong><br>
														@adres.Aciklama
													</label>
												</div>
											}

										</div>
									</div>
								</div>
							</div>

							<div class="card single-accordion">
								<div class="card-header" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Ödeme Yöntemini Seçiniz.
										</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
										<div class="card-details">
											@foreach (var item in Model.OdemeTipleri)
											{
												<div class="form-check">
													<input class="form-check-input" type="radio" name="adresRadio" id="adres_@item.Value" value="@item.Value">
													<label class="form-check-label" for="adres_@item.Value">
														<strong>@item.Text</strong><br>

													</label>
												</div>

											}
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Ürün Detayları</th>
									<th>Fiyat</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								@foreach (var item in Model.Sepetler)
								{
									<input type="hidden" value="@(toplamFiyat+=item.ToplamFiyat)" />
									<tr>
										<td>@item.Menu.Ad</td>
										<td>@item.ToplamFiyat</td>

									</tr>
								}
							</tbody>
							<thead>
								<tr>
									<th>Toplam Fiyat:</th>
									<th>@toplamFiyat</th>
								</tr>
							</thead>
						</table>


						<button type="submit" style="border: none; background: none; padding: 0;"><a class="boxed-btn">Siparişi Onayla</a></button>


					</div>
				</div>
			</div>
		</div>
	</div>
</form>